/* Basic Style */

.root {
    -fx-font-family: "Segoe UI", sans-serif;
}

.button {
    -fx-background-radius: 5px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: derive(-fx-base, -10%);
}

.table-view {
    -fx-base: #f4f4f4;
    -fx-control-inner-background: #f4f4f4;
    -fx-background-color: #f4f4f4;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 13pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #aaa;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}
